@model WebSurveyApp.Models.ChangePasswordViewModel

<div class="container-div">
    <h2>Change password</h2>
    <form asp-action="ChangePassword" method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <input type="hidden" asp-for="UserId" />
            <div>
                <p>
                    <label asp-for="NewPassword"></label><br />
                    <input asp-for="NewPassword" />
                    <br />
                    <span asp-validation-for="NewPassword"></span>
                </p>
            </div>
            <div>
                <p>
                    <label asp-for="OldPassword"></label><br />
                    <input asp-for="OldPassword" />
                    <br />
                    <span asp-validation-for="OldPassword"></span>
                </p>
            </div>
            <div>
                <p>
                    <button class="btn-color-green" type="submit">Change</button>
                </p>
            </div>
        </div>
    </form>
</div>