@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Time</title>
    <link href="~/css/site.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div id="main">
        <partial name="_DateAndTime" />
    </div>
</body>
</html>

