@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/main.css" rel="stylesheet" />
    <title>Success</title>
</head>
<body>
    <p>Registration has been successful!</p>
    <p>
        <a asp-action="Login">Log In</a>
    </p>
</body>
</html>