@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/finish.css" rel="stylesheet" />
    <title>Finish</title>
    <style type="text/css">
    </style>
</head>
<body>
    <div class="container">
        <div>
            <h1>Thanks, you have successfully finished the survey</h1>
        </div>
        <br />
        <p>
            <img src="~/img/CheckMark.svg" title="smile" />
        </p>
    </div>
</body>
</html>