@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>download</title>
</head>
<body>
    <p><a href="~/001.MVC Introduction.pdf">Открыть файл в браузере</a>
    <p><a href="~/001.MVC Introduction.pdf" download>Скачать описание урока</a>
</body>
</html>
