@model WebSurveyApp.Option;

@{
    ViewBag.Title = "Create Option";
}

<h2>Create Option</h2>

<form asp-action="Create" method="Post">

    <div>
        <p>
            <input type="hidden" name="SurveyId" value="@ViewBag.SurveyId" />
            <input type="hidden" asp-for="QuestionId" />
            <input asp-for="Text" placeholder="New Answer" />
            <span asp-validation-for="Text"></span>
        </p>
        <hr />
    </div>

    <div>
        <p>
            <button type="submit" id="submit">Create</button>
        </p>
    </div>

</form>

<p>
    <a asp-controller="Survey" asp-action="Edit" asp-route-surveyId="@ViewBag.SurveyId">Back to Editing</a>
</p>