@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>download</title>
</head>
<body>
    <p><a asp-action="Open">Open in the browser</a>
    <p><a asp-action="Download" download>Download lesson description</a>
</body>
</html>
