@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/site.css" rel="stylesheet" />
    <title>Home</title>
</head>
<body>
    <div>
        <p>Hi, @Model</p>
        <p>Online -  @ViewBag.Count</p>
    </div>
</body>
</html>
