@model WebSurveyApp.Survey

@{
    ViewBag.Title = "Create Survey";
}

<body>
    <h2>Create survey</h2>

    <form id="form" asp-action="Create" method="Post">

        <div>
            <p>
                <input asp-for="Title" placeholder="Type your Survey Title" />
                <span asp-validation-for="Title"></span>
            </p>
            <hr />
        </div>

        <div>
            <p>
                <button type="submit" id="submit">Create</button>
            </p>
        </div>

    </form>
</body>