@model WebSurveyApp.SurveyBindingModel

@{
    ViewBag.Title = "Create Survey";
}

<div class="container-div">
    <h2>Create survey</h2>
    <hr />
    <form asp-action="Create" method="Post">
        <div>
            <p>
                <input asp-for="Title" placeholder="Type your Survey Title" />
            </p>
            <p>
                <span asp-validation-for="Title"></span>
            </p>
        </div>
        <div>
            <p>
                <button class="btn-color-green" type="submit">Create</button>
            </p>
        </div>
    </form>
</div>